[viewBag]
==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">About Cashtag</h2>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-gleam primary-color-text"></i>
      <h5>SERVICES</h5>
      <p style="line-height:1.6em">井Cashtag is the platform that connects businesses to financing fast, conveniently and transparently. We make applying for and receiving loans easy so that you can stay focused on your business.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-science primary-color-text"></i>
      <h5>VISION</h5>
      <p style="line-height:1.6em">At 井Cashtag, our vision is for the full integration of SMEs into the sharing economy designed to anticipate and reconcile all their needs on one channel empowering unparalleled accuracy in pricing and data analysis – even for the small guys.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-users primary-color-text"></i>
      <h5>PARTNERS</h5>
      <p style="line-height:1.6em">At 井Cashtag, we believe in collaborative engagements. Our partner ecosystem offers both ourselves and you a diverse range of solutions to reduce burdens and confidently carry you towards business success.</p>
    </div>
  </div>

  
</div>