[viewBag]
==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
     <!--  <h2 class="lt-title">Providing you with better solutions to get funding</h2> -->
     <p class="flow-text">Running a business can be a rewarding experience. But we know it is challenging to manage cash flows as they can be complicated and time consuming.</p>
    <p class="flow-text">
井Cashtag addresses this by being the platform that connects businesses to financing rapidly, conveniently and transparently. Our ability to streamline the loan management process allows you to stay focused on your business.</p> 
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

<!--   <div class="lt-row row">
  <div class="lt-col col m4 s12">
    <i class="large pe-7s-display1 primary-color-text"></i>
    <h5>Graphics</h5>
    <p>Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
  </div>
  <div class="lt-col col m4 s12">
    <i class="large pe-7s-tools primary-color-text"></i>
    <h5>Coding</h5>
    <p>Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
  </div>
  <div class="lt-col col m4 s12">
    <i class="large pe-7s-news-paper primary-color-text"></i>
    <h5>Templates</h5>
    <p>Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
  </div>
</div> -->
</div>


<div class="center">

  <div class="lt-row row">
    <div class="lt-col col s2" style="margin-top:10px">
    <img class="responsive-img" alt="image" src="{{ 'assets/img/001.PNG'|theme }}">
    </div>  
    <div class="lt-col col s10" style="text-align:left">
      <h6>Working Capital Loans</h6>
      <p>Working capital is the operating liquidity available to a business. When not managed carefully, businesses can grow themselves out of cash by needing more working capital to fulfill expansion plans than they can generate in their current state.</p>
    </div>
  </div>

  <div class="lt-row row">
    <div class="lt-col col s2" style="margin-top:10px">
    <img class="responsive-img" alt="image" src="{{ 'assets/img/002.PNG'|theme }}">
    </div>  
    <div class="lt-col col s10" style="text-align:left">
      <h6>Asset-Backed Financing (Leasing)</h6>
      <p>We understand that businesses have to innovate in order to maintain their competitive edge. To meet this need, an ever increasing number of enterprises are opting to lease in order to protect their capital and safeguard liquidity.</p>
    </div>
  </div>
  
  <div class="lt-row row">
    <div class="lt-col col s2" style="margin-top:10px">
    <img class="responsive-img" alt="image" src="{{ 'assets/img/003.PNG'|theme }}">
    </div>  
    <div class="lt-col col s10" style="text-align:left">
      <h6>Secured Financing</h6>
      <p>Companies that have unencumbered assets are able to use them as collateral in order to get additional financing in the form of secured loans. Another type of secured financing is bridging loans, where future proceeds from a property sale can be pledged in order to raise capital in advance.</p>
    </div>
  </div>
  
  <div class="lt-row row">
    <div class="lt-col col s2" style="margin-top:10px">
    <img class="responsive-img" alt="image" src="{{ 'assets/img/004.PNG'|theme }}">
    </div>  
    <div class="lt-col col s10" style="text-align:left">
      <h6>Flavor Of The Month</h6>
      <p>Doctors and Dentists, we recognize the challenges you face to run and grow your medical/dental practice and have put together comprehensive financing solutions with our partners for you.</p>
    </div>
  </div>


</div>